<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Donation Form</title>
<!-- Bootstrap Core CSS -->
<link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Plugin CSS -->
<link href="../../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

<!-- Theme CSS -->
<link href="../../static/css/creative.css" rel="stylesheet">
</head>
<body style="background-image: url(../../static/img/formsBackground.png)">
	<div class="container" style="margin: 50px auto;">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<h1 style="text-align: center;">
					<span class="glyphicon glyphicon-apple"></span> &nbsp; Donation Form
				</h1>
			</div>
			<div class="modal-body">
				<form method="POST" action="/restaurant/donation/submit">
					{%csrf_token%}
					{{form}}							
					<div class="modal-footer">							
						<button type="submit" class="btn btn-success btn-block" id="register_button">
							<span class="glyphicon glyphicon-ok"></span> &nbsp; Confirm Donation
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="../../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../../static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../../static/js/creative.min.js"></script>

</body>
</html>
